span{
    height: 200px;
    width: 200px;
    border: 2px solid black;
    padding: 30px;
    margin: 40px;
    display: inline-block;
}
div{
    height: 200px;
    width: 200px;
    border: 2px solid black;
    padding: 30px;
    display: inline-block;
}

div:nth-of-type(2){
    /* visibility: hidden; */
    display: none;
}