*{
    margin: 0;
    padding: 0;
}

/* NAVBAR */

li{
    list-style: none;
    display: inline-block;
    margin: 10px;
}

.navContent{
    text-align: left;
}

h1{
    font-size: 40px;
}

h1::before{
    background-image: url('https://miro.medium.com/v2/resize:fit:1400/1*psYl0y9DUzZWtHzFJLIvTw.png');
    background-size: 30px 30px;
    display: inline-block;
    width: 30px; 
    height: 30px;
    content:"";
    mix-blend-mode: color-burn;

}
nav{
    position: sticky;
    top: 0px;
    background-color: rgb(255, 196, 0);
    display: flex;
    border-bottom: 1px solid black;
    justify-content: space-around;
    z-index: 1;
}

a{
    text-align: center;
    padding: 10px;
    height: 20px;
    width: 90px;
    display: block;
    color: white;
    text-decoration: none;
    background-color: black;
    border: 1px solid black;
    border-radius: 40px;
}


/* MAIN Section */

main{
    height: 80vh;
    border-bottom: 1px solid black;
    background-color: rgb(255, 196, 0);

}
.mainHead{
    font-size: 6rem;
    font-weight: 500;
    transform: translateY(100px) translateX(40px);
}

.M1{
    float: right;
    font-size: 30px;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-name: hideUnhide;
    animation-iteration-count: infinite;
}

@keyframes hideUnhide{
    0%{
        visibility: hidden;
    }

    51%{
        visibility: visible;
    }
}

/* 3rdSec */
.Sec3{
    height: 30vh;
    width: 90vw;
    padding: 5% 4% 0%;
}

figure{
    height: 300px;
    width: 300px;
}
.flex-3-div{
    height: 100px;
    width: 200px;
    border: 10px solid white;
    background-color: aquamarine;
}
.flex-3{
    height: 30vh;
    width: 90vw;
    display: flex;
    justify-content: space-between;
}


/* Section 4 */
.side-a-b-parent{
    top: 50px;
    position: relative;
    height: max-content;
}
.side-a{
    width: 80vw;
}

.side-b{
    float: right;
    padding: 4%;
    top: 6%;
    position: sticky;
    overflow: scroll;
    
}