.container{
    width: 90vw;
    height: 90vh;
    background-color: lightcyan;
    margin: 0 auto;
    border: 2px solid black;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 5fr 5fr 1fr;
    grid-template-areas:"header header header"
                        "nav1 main nav2"
                        "nav1 main nav3"
                        "footer footer footer";
}

.header{
    background-color: cornflowerblue;
    grid-area: header;
}
.main{
    background-color: darkcyan;
    grid-area: main;
}
.nav1{
    background-color: lawngreen;
    grid-area: nav1;
}
.nav2{
    background-color: lightcoral;
    grid-area: nav2;
}
.nav3{
    background-color: crimson;
    grid-area: nav3;
}

.footer{
    background-color: seagreen;
    grid-area: footer;
}