/* p{
    background-color: black;
    border: 2px solid gold;
}

#abhay{
    background-color: aquamarine;
    border: 2px solid gold;
} */

/* #abhisek{
    border: 2px solid greenyellow;
}

.devansh{
    background-color: lightskyblue;
}
.dara{
    border:2px solid rebeccapurple;
} */

a[href="http://www.twitter.com"]{
    background-color: red;
}
*{
    border: 2px solid red;
}