h1{
    font-family: serif;
    font-family: sans-serif;
    font-family: cursive;
    font-family: fantasy;
    font-family: monospace;
    font-size: 70px;
    font-weight: 900;
    font-style: italic;
    text-shadow: 5px 5px 6px red,
                -5px 5px 6px blue;

}

p{
    line-height: 4rem;
    letter-spacing: 0.1rem;
    border: 2px solid black;
    box-shadow: 5px 5px 6px red,
    -5px 5px 6px blue;
}

li{
    list-style-type: decimal;
    border: 2px solid black;
    list-style-position: outside;
    list-style: square inside;
}