input{
    background-color: aqua;
}

input:hover{
    background-color: orangered;
}

a:active{
    font-size: 50px;
    color: orange;
}

a:visited{
    text-decoration: line-through;
    color: black;
}
/* 
li:nth-of-type(2){
    background-color: rosybrown;
} */

/* li:first-child{
    background-color: cyan;
}

li:last-child{
    background-color: cyan;
} */

li:nth-of-type(4n+2){
    background-color: khaki;
}

input:focus{
    background-color: blue;
}