/* div{
    border: 2px solid palevioletred;
}

p{
    border: 2px solid teal;
} */


/* #harsh{
    text-decoration: underline;
} */

/* .laxmiNarayan{
    border: 2px dotted peru;
} */

/* input[type="text"]{
    background-color: red;
    
} */
/* a[href="www.google.com"]{
    font-size: 50px;
    color: yellow;
} */

*{
    border: 2px solid red;
}