/* p{
    background-color: cyan;
} */

/* #kartikay{
    display: inline;
    border: 2px solid rebeccapurple;
}  */
/* #apoorv{
    text-decoration: line-through;
} */

/* .samiksha{
    background-color: blueviolet;
    color: white;
}

.priya{
    border: 2px solid chartreuse;
} */

/* Attribute selector */
/* a[href="www.instagram.com"]{
    color: red;
}
a[href="www.google.com"]{
    background-color: burlywood;
} */

/* *{
    border: 2px solid tomato;
} */