*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
}

ul li{
    display: inline-block;
    list-style: none;
    margin-left:20px;
}
nav{
    display: flex;
    position: sticky;
    padding-top: 1%;
    top: 0;
    justify-content: space-around;
    background-color: rgb(255, 196, 0);
    border-bottom: 1px solid black;
    z-index: 1;
}
.heading{
    font-size: 40px;
}

.heading::before{
    background-image: url('https://miro.medium.com/v2/resize:fit:1400/1*psYl0y9DUzZWtHzFJLIvTw.png');
    background-size: 30px 30px;
    display: inline-block;
    width: 30px; 
    height: 30px;
    content:"";
    mix-blend-mode: color-burn  ;
}

a{
    text-decoration: none;
    height: 20px;
    padding: 10px;
    text-align: center;
    width: 80px;
    background-color: black;
    color: white;
    border-radius: 40px;
    display: inline-block;
    border: 1px solid black;
}

/* Section 2 */



.mainHead{
    font-size: 6rem;
    font-weight: 500;
    transform: translateX(35%) translateY(30%);
}
.Manimation{
    display: flex;
}

.sec2{
    height: 80vh;
    background-color: rgb(255, 196, 0);

    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

/* Section 3 */

.Sec3{
    transform: translate(100px) translateY(30px);
    width: fit-content;
}

.flex-3{
    display: flex;
    justify-content: space-between;
}

.flex-3-div{
    width: 200px;
    height: 150px;
    border: 10px solid white;
    background-color: aquamarine;
}

/* section - 4 */
.sec-4{
    transform: translateX(100px) translateY(30px);
    height: fit-content;
}
.side-b{
    position: sticky;
    top: 5%;
    float: right;
    width: 50vw;
}

.side-a{
    width: 50vw;
}
.side-a-card{
    border: 1px solid black;
    display: inline-block;
    padding: 2%;
}
